<div id="exportHtmlProject" class="form-group has-feedback">
    <div>
		<label>{{gettext "Path where save html project"}}</label>
		<input name="path" value='{{gettext "Choose folder"}}' type="file" nwsaveas="index.html" webkitdirectory directory /> 
    </div>
	<button id="exporthtmlback">{{gettext "Cancel"}}</button>
	<button id="exporthtmlbtn">{{gettext "Generate html"}}</button>
</div>

