<!DOCTYPE html> 
<html>
  <head>
  	<meta charset="UTF-8"> 
    <style type="text/css">
           .encabezado{
              text-align:{{positionheader}};
            }
    </style>
  </head>
  <body style="border:0; margin: 0;">
    <div class="encabezado"><span class="page">{{textheader}}</span></div>
 </body> 
</html>
