article{
	position:absolute;
	display:block;
	width: 80%;
}
footer{
	height: 30%;
}
span.right{
	text-align: right;
	right:0px;
	width: 25%;
	position:absolute;
	margin-right:20px;
}
span.left{
	text-align: left;
	left:0px;
	width: 25%;
	position: absolute;
	margin-left:20px;
}
footer{
	text-align: center;
}
footer{
	height: 100px;
}
.bordered{
	border: 1px solid black;
}
.centered{
	text-align: center;
}
.hide{
	display:none;
}
#title{
	height: 5%;
}
#title{
	font-size: xx-large;
	position:absolute;
	z-index: 99;
	left: 45%;
}

.sectionlevel1{
	margin-left: 0ex;
}
.sectionlevel2{
	margin-left: 1ex;
}
.sectionlevel3{
	margin-left: 2ex;
}
.sectionlevel4{
	margin-left: 3ex;
}
aside>ol{
	padding: 0px;
}
aside>ol>li{
	list-style-type:none;
	margin-bottom: 2px;
	/*font-size: large;*/
}
aside>ol>li>a{
	width:100%;
}
aside>ol>li>a>span{
	font-size: 1.5ex;
}