aside{
	float:left;
	margin-top:100px;
	width: 191px;
}
aside>ol>li{
	list-style-type:none;
}
article{
	position:absolute;
	display:block;
	left: 200px;
	height: 100%;
	width: 80%;
}
footer{
	position: absolute;
	display: block;
	left: -1px;
	bottom: -1px;
	height: 8%;
	width: 100%;
}
.centered{
	text-align: center;
}
.bordered{
	border: 1px solid black;
}
#title{
	height: 5%;
}
#title{
	font-size: xx-large;
}
aside>ol>li{
	font-size: x-large;
}
img{
	position: absolute;
}
#data1 img{
	left: 100px;
	top:100px;
	height:50px;
	width: 100px;
	transform: rotate(10deg);
}
#data2 img{
	left: 500px;
	top: 400px;
	height:200px;
	width: 100px;
	transform: rotate(110deg);
}
.hide{
	display:none;
}