<div class="whiteboardtoolbar content">
      <div class="btn-group">
        <a class="btn" data-command="draw"><i class="fa fa-crop"></i></a>
        <a class="btn" data-command="rect"><i class="fa fa-square-o"></i></a>
        <a class="btn" data-command="circle"><i class="fa fa-circle-o"></i></a>
        <a class="btn" data-command="ellipse"><i class="fa fa-comment-o"></i></a>
        <a class="btn" data-command="line"><i class="fa fa-line-chart-o"></i></a>
        <a class="btn" data-command="save"><i class="fa fa-save"></i></a>
        <a class="btn" data-command="remove"><i class="fa fa-remove"></i></a>
        <a class="btn" data-command="clear"><i class="fa fa-eraser"></i></a>
      </div>
</div>