Source: cloudbook
Section: text
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://cloud-book.github.io/
#Vcs-Git: git://github.com/cloud-book/cloudbook.git

Package: cloudbook
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},node-webkit, wkhtmltopdf, pepperflashplugin-nonfree
Description: Book editor
 Books graphical editor
