#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with llxsrchelper

override_dh_clean:
	cd src;npm install; cd ..
	dh_clean
override_dh_llxsrcinstall:
	mkdir -p llx-resources/cloudbook/icons/apps
	mkdir -p llx-resources/cloudbook/icons/mimetypes
	mkdir -p llx-resources/cloudbook/desktops
	cp rsrc/Cloudbook.svg llx-resources/cloudbook/icons/apps/cloudbook.svg
	cp rsrc/filetype-cloudbook.svg llx-resources/cloudbook/icons/mimetypes/application-cloudbook.svg
	cp rsrc/cloudbook.desktop llx-resources/cloudbook/desktops/cloudbook.desktop
	dh_llxsrcinstall
