<div id="Epub view" style="border:5px outset; border-radius:10px">
	<div id="Encabezado" style="margin-left:10px; margin-right:10px">
	<h4>{{description}} </h4>
	<p>
	</div>
		<div style="text-align:justify; margin-left:10px; margin-right:10px">
		{{{activitytext}}}
		</div>
		<p>
</div>