body{
    background-color: #4c4c4c;
    margin: 0;
    padding: 0;
}


/********************************
 *
 *   Layout definition
 * 
 *******************************/

.ui-layout-west{
    padding: 0 !important;
    background: #4c4c4c url('../img/back.png') repeat !important;
    border: none !important;
    border-top: 1px solid black !important;

}

.ui-layout-north{
    padding: 0 !important;
    border:none !important;
    background:  linear-gradient(#707070,#4c4c4c) !important;
}

.ui-layout-resizer-north{
    display:none !important;
}
.ui-layout-south{

    border:none !important;
    background:  linear-gradient(#4c4c4c,#707070) !important;
}

.ui-layout-resizer-west, .ui-layout-resizer-south {
    background: #4c4c4c !important;
}

/*****************************
 * 
 *  End layout definition
 *  
 *****************************/

::-webkit-scrollbar {
    width: 12px;
    background-color: #4c4c4c;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.7); 
}

::-webkit-scrollbar-corner{
    background-color: #4c4c4c;
}

#navsections > div > ul{
    padding: 0;
}


#navsections ul{
    list-style-type: none;
    padding-left: 15px;
}

.displaysection{
    box-shadow: 0 0 4px 2px #acacac;
    margin: 10px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #000000;
    display: block;
    position: relative;
}

.displaysection button{
    position:absolute;
    top:0;
    right: 0;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
}
.displaysection:hover button{
    opacity: 1;
    }

.displaysection div.caption{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.sectionselected{
    box-shadow: 0 0 4px 3px #77d;
}

/*
 * Initial wizard 
 */
.ui-widget-overlay{
    background: #000;
    opacity: 0.6;
}


.no-close .ui-dialog-titlebar-close{
    display: none;
}

.ui-state-highlight{
    height: 30px;
}

#navactions button{
    max-height: 40;
    position: relative;
}

#navactions button img{
    height: 100%;
    display: inline-block;
}

#navactions button div{
    display: inline-block;
}

.cbobject{
    position: relative;
}

#cbobjecttoolbar{
    background-color:#4c4c4c;
    height:30px;
    width: 250px;
    position:absolute;
    margin: 0;
    padding: 0;
    z-index: 10;
    -webkit-transition: display 0.3s opacity 0.3s linear;
}

/*}




.cbobject:focus .cbobject-bar{
    display: inherit;
    opacity: 1;
}


.cbobject:focus{
    border: 1px solid black;
    outline: none;
    z-index: 9999999 !important;
}*/

.cbobject.selected{
    border:1px solid black;
}

/************************
 *
 * WizardNewOpenProject
 * 
 ***********************/
 .wizardnewopenproject{
    text-align: center;
 }

.wizardnewopenproject .ui-dialog-titlebar{
    background: url("../img/titlewizardnewopenproject.png") no-repeat center;
    border: none;
    margin-top: .5em;
}

 .wizardnewopenproject .ui-dialog-titlebar-close{
    display:none;
 }

.wizardnewopenproject .btn-group{
    width: 100%;
}

.wizardnewopenproject .btn-group button{
    width: 50%;
}

 .wizardnewopenproject .open{
    text-align: right;
 }

#listProjects td{
 vertical-align: middle !important;
}

.cbtextbox-toolbar{
    background: #ddd;

}
.cbtextbox{
    overflow: hidden;
}

.exportpdfwizard .ui-dialog-titlebar-close{
    display:none;
 }


.ui-rotatable-handle {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url(../img/rotate.png);
    background-size: 100%;
    left: -9px;
    bottom: -9px;
    position: absolute;
    display: none;
}

.cbobject.selected .ui-rotatable-handle{
    display: initial;
}

.ui-resizable-se{
    right: -9px;
    bottom: -9px;
    position: absolute;
    display: none;
}

.cbobject.selected .ui-resizable-se{
    display: initial;
}


.cbcliclayer{
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.cbobject.selected .cbcliclayer{
    z-index: -1
}

.ui-dialog div#activitytext [data-gap-fill]{
    border: 1px solid red;
}

.ui-dialog div#activitytext{
    border: 1px solid black;
    margin: 10px 0;
    padding: 5px;
}


.FillGapBox .CSSInfoTextPgf{
    margin: 5px;
    font-weight: bold;
}
