input{
	font-size:0.8em;
}

.metadata-box{
	width:76%;
	margin-bottom:1px;
	height:24px;
	font-size:0.8em;
	margin-right: 1px;
}

/*All width + text*/
.metadata-box-long-wtext{
	width:82%;
	margin-bottom:1px;
	height:24px;
	font-size:0.8em;
	margin-left:2px;
}

/*All width + buttons*/
.metadata-box-long{
	width:91.5%;
	margin-bottom:1px;
	height:24px;
	font-size:0.8em;
	margin-right:1px;
}

/*All width*/
.metadata-box-all{
	width:98%;
	margin-bottom:1px;
	height:24px;
	font-size:0.8em;
}

/*Half width without buttons inline*/
.metadata-box-half-special{
	width:287px;
	margin-bottom:1px;
	height:24px;
	font-size:0.8em;
}

/*Half width with buttons inline*/
.metadata-box-half{
	width:30%;
	margin-bottom:1px;
	height:24px;
    font-size:0.8em;
	float: left;
}
/*Half width without buttons*/
.metadata-box-half-wbuttons{
    width:33%;
	height:24px;
    display: block;
	float: left;
	margin-bottom:2px;
	margin-left:2px;
    font-size:0.8em;
}
/*Half width without text*/
.metadata-box-half-plus{
    width:358px;
	height:24px;
    display: block;
	float: left;
	margin-bottom:2px;
    font-size:0.8em;
}
.metadata-text{
    width:121px;
    display: block;
	float: left;
	margin-bottom:1px;
    font-size:0.8em;
}

.metadata-text-right{
    width:120px;
    display: block;
	float: left;
	margin-bottom:1px;
    font-size:0.8em;
    margin-left: 12px;
    margin-right: -6px;
}

.button{
	margin-left:2px;
}
#accordion{
	margin-top:20px;
	padding: 0px;
}

legend{
	font-size:0.9em;
}
#accordion div{
	padding: 15px;
}
#dialog select{    
	font-size:0.8em;
}
#dialog fieldset {   
  -moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px;
  margin-bottom: 5px;
}
#dialog fieldset div{
	padding-top:3px;
	padding-bottom:1px;
}
#dialog button{
	width:24px;
	height:24px;
	font-size: 0.6em;
}
#dialog fieldset div div{
	margin-left:-15px;
	margin-right:-15px;
}
.ui-accordion-header{
	font-size: 20px;
}
#dialog>ul>li{
	font-size: 18px;	
}