body{
    background-color: #4c4c4c;
    margin: 0;
    padding: 0;
}

.contentlayout{

    
}

.ui-layout-west{
    padding: 0 !important;
    background: #4c4c4c url('../img/back.png') repeat !important;
    border: none !important;
    border-top: 1px solid black !important;

}

.ui-layout-north{
    padding: 0 !important;
    border:none !important;
    background:  linear-gradient(#707070,#4c4c4c) !important;
}

.ui-layout-resizer-north{
    display:none !important;
}
.ui-layout-south{

    border:none !important;
    background:  linear-gradient(#4c4c4c,#707070) !important;
}

.ui-layout-resizer-west, .ui-layout-resizer-south {
    background: #4c4c4c !important;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #4c4c4c;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.7); 
}

::-webkit-scrollbar-corner{
    background-color: #4c4c4c;
}

#navsections > div > ul{
    padding: 0;
}


#navsections ul{
    list-style-type: none;
    padding-left: 15px;
}

.displaysection{
    box-shadow: 0 0 4px 2px #acacac;
    margin: 10px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #000000;
    display: block;
    position: relative;
}

.displaysection button{
    position:absolute;
    top:0;
    right: 0;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
}
.displaysection:hover button{
    opacity: 1;
    }
.displaysection .text div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.sectionselected{
    box-shadow: 0 0 4px 3px #77d;
}

/*
 * Initial wizard 
 */
.ui-widget-overlay{
    background: #000;
    opacity: 0.6;
}


.no-close .ui-dialog-titlebar-close{
    display: none;
}