#navactions button img{
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: auto;
}

#navsections{
    width: 20%;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    float: left;

}
#navsections .cbsection{
    position: relative;
}
#navsections .cbsection .appendbefore{
    position: absolute;
    left: 45%;
    top: -8%;
}

#navsections .cbsection .appendsubsection{
    position: absolute;
    left: 91%;
    top: 35%;
}

#navsections .cbsection .appendafter{
    position: absolute;
    left: 45%;
    top: 80%;
}

#navsections .cbsection .appendbefore , #navsections .cbsection .appendsubsection, #navsections .cbsection .appendafter{

    opacity: 0;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
}

#navsections .cbsection:hover .appendbefore , #navsections .cbsection:hover .appendsubsection, #navsections .cbsection:hover .appendafter{

    opacity: 1;
}



#navsections .sectionimage img{
    width: 95%;
    height: auto;
    margin: 5px;
    border: 1px solid black;
}

#navsections .sectionselected{
    border: 3px solid red;
}
#targetcontent{
    float: left;
    width: 77%;
}
#targetcontent img{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}